.my-footer {
  background-color: #007cc7 !important;
}

.MuiTypography-colorTextSecondary .white {
  color: #3f51b5 !important;
}

.MuiTypography-colorTextSecondary .white {
  color: #3f51b5 !important;
}
