.my-footer {
    background-color: #3f51b5 !important;
}

.MuiTypography-colorTextSecondary .white {
    color: #3f51b5 !important;
}

.MuiTypography-colorTextSecondary .white {
    color: #3f51b5 !important;
}